@{
    ViewData["Title"] = "Informações";
}
@ViewData["Title"]

<p>Projeto feito com as tecnologias C# e ASP.NET com MVC <a href="https://github.com/jonathassodrecastro/TesteCandidato.git">Repositório GIT</a>.</p>
