@model CEPapi.Models.MainModel

@{
    ViewData["Title"] = "Edit";
    //Layout = "_Layout";
}

<h1>Edit</h1>

<h4>MainModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="cep" class="control-label"></label>
                <input asp-for="cep" class="form-control" />
                <span asp-validation-for="cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="logradouro" class="control-label"></label>
                <input asp-for="logradouro" class="form-control" />
                <span asp-validation-for="logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complemento" class="control-label"></label>
                <input asp-for="complemento" class="form-control" />
                <span asp-validation-for="complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bairro" class="control-label"></label>
                <input asp-for="bairro" class="form-control" />
                <span asp-validation-for="bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="localidade" class="control-label"></label>
                <input asp-for="localidade" class="form-control" />
                <span asp-validation-for="localidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uf" class="control-label"></label>
                <input asp-for="uf" class="form-control" />
                <span asp-validation-for="uf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unidade" class="control-label"></label>
                <input asp-for="unidade" class="form-control" />
                <span asp-validation-for="unidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ibge" class="control-label"></label>
                <input asp-for="ibge" class="form-control" />
                <span asp-validation-for="ibge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gia" class="control-label"></label>
                <input asp-for="gia" class="form-control" />
                <span asp-validation-for="gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
